


<mat-toolbar class="mat-elevation-z6">
    <span class="logo" routerLink="/"><mat-icon>eco</mat-icon>Cultivation Guide</span>

    <div class="spacer"></div>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="buyNsell">Buy & Sell</a>
    <a mat-button routerLink="blog">Blog</a>
    <a mat-button routerLink="news">News & Instructions</a>
    <a mat-raised-button routerLink="account">Account <mat-icon>account_circle</mat-icon></a>
</mat-toolbar>





<router-outlet></router-outlet>

